version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "[mi-usuario]"
    assignees:
      - "[mi-usuario]"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
